<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeamInformationMapper">

    <select id="findAllTeams" resultType="com.example.demo.model.TeamInformation">
        SELECT * FROM team_information ORDER BY total_score DESC, team_number ASC;
    </select>

    <select id="findTeamByNumber" resultType="com.example.demo.model.TeamInformation">
        SELECT * FROM team_information WHERE team_number=#{team_number};
    </select>

    <insert id="addTeam" parameterType="com.example.demo.model.TeamInformation">
        INSERT INTO team_information (team_name, team_affiliation_college, total_score)
        VALUES (#{team_name}, #{team_affiliation_college}, 0);
    </insert>

    <update id="updateTeam" parameterType="com.example.demo.model.TeamInformation">
        UPDATE team_information SET
        team_name=#{team_name},
        team_affiliation_college=#{team_affiliation_college}
        WHERE team_number=#{team_number};
    </update>

    <delete id="deleteTeam">
        DELETE FROM team_information WHERE team_number=#{team_number};
    </delete>


    <select id="findTeamByName" parameterType="String" resultType="com.example.demo.model.TeamInformation">
        SELECT * FROM team_information WHERE team_name = #{team_name}
    </select>

</mapper>
